body {
    margin: 0;
    background-color: rgb(177, 241, 220);
}

.main-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius {
    display: grid;
    grid-template-areas: 'verde roxo'
    'laranja azul';
    grid-gap: 10px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 100%;
    width: 700px;
    height: 700px;
}

.blue {
    grid-area: azul;
    background-color: rgb(64, 174, 238);
    border-bottom-right-radius: 100%;
}

.purple {
    grid-area: roxo;
    background-color: rgb(126, 2, 126);
    border-top-right-radius: 100%;
}

.orange {
    grid-area: laranja;
    background-color: rgb(247, 79, 18);
    border-bottom-left-radius: 100%;
}

.green {
    grid-area: verde;
    background-color: rgb(19, 117, 19);
    border-top-left-radius: 100%;
}

.selected {
    opacity: 0.8;
}